<h1>
  <span style="color: #594FEC; font-weight: bold;">GQ</span>
  <span style="font-weight: bold;">&nbsp;Coding Exercise:</span>
  &nbsp;Incentive Redeemer
</h1>

<br />

<div>
  <div class="pb-4">
    <%= link_to 'Redeem', redeem_path, class: "hover:bg-green-100 bg-green-200 rounded-md px-4 py-2" %>
  </div>

  <div class="pb-4">
    <%= link_to 'Setup', setup_path, class: "hover:bg-green-100 bg-green-200 rounded-md px-4 py-2" %>
  </div>
</div>
